# Frontend environment variables
NEXT_PUBLIC_RPC_URL=
NEXT_PUBLIC_ESCROW_FACTORY_ADDRESS=0x0067BADcC940295116e02299039a3d4c46926B93
NEXT_PUBLIC_ESCROW_FACTORY_DEPLOY_BLOCK=10670344
NEXT_PUBLIC_MOS_USDC_ADDRESS=0x5Cd57CC09a524cd587bBa1C8CBFF1903c60232B3
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
