# Environment variables
# Copy this file to .env and fill in the values

# Database
DATABASE_URL=

# Blockchain
LOCAL_RPC_URL=http://127.0.0.1:8545
SEPOLIA_RPC_URL=
RPC_URL=
PRIVATE_KEY=
OWNER=0x93FD5700BD0F19537f5C126F047296a9C0561e86
MOS_USDC_ADDRESS=0x5Cd57CC09a524cd587bBa1C8CBFF1903c60232B3

# API Keys
API_KEY=
